<!-- File Name: footer.ejs -->
<!-- Created by: Cong Wang -->
<!-- Student Number: #301098547 -->
<!-- Created on: 10.2.2020 -->

<!--Common Footer-->

<!-- common footer -->
<section>
    <hr class="featurette-divider">

    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Copyright by Cong Wang 2020. All Rights Reserved.</p>
    </footer>
</section>


