<!-- File Name: About_Me.ejs -->
<!-- Created by: Cong Wang -->
<!-- Student Number: #301098547 -->
<!-- Created on: 10.2.2020 -->

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Hi, it is nice to see you here!<br><span class="text-muted">I am Cong Wang.</span></h2>
        <p class="lead">I am currently studying game programming in Centennial College in Canada.
            A big fan of coding, learning new things, piano, and cats.
            Also enjoy working out. I believe regular exercise keeps me energetic.</p>
    </div>
    <div class="col-md-5">
        <img src="/public/images/profile.JPG" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Game Programmer<br><span class="text-muted">Fanatic</span></h2>
        <p class="lead">I have made some games both with team work and individual. You can visit my <a target="_blank" href="https://github.com/MaxBay2020"><code>Github</code></a>
            <br>Games include
            JellyBoom, Runaway Boy, Space Invader, Breakout, Battle City, Angry Bird, Snake, Fishing Joy
            etc..
            Technologies include UGUI, DOTween, Animation, Particle System, Audio, etc.
            <br>You can also check my <a href="/public/resumes/unity.pdf"  target="_blank"><code>resume</code></a> for Unity3D.
        </p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img src="/public/images/unity.png" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">B/S App Developer<br><span class="text-muted">Front-end Back-end</span></h2>
        <p class="lead">I have made some B/S applications using Java or NodeJs,
            such as <br>
            User Management System using JavaEE and MySQL; Travel Website using JavaEE, MySQL and Redis; User Management system using NodeJs, Express; Forum website using NodeJs, Express, Mongoose
            etc..
            <br>For more information, please check my <a href="/public/resumes/BackEnd.pdf" target="_blank"><code>resume</code></a> for Web Development.
        </p>
    </div>
    <div class="col-md-5">
        <img src="/public/images/java.png" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">C/S App Developer<br><span class="text-muted">.Net Java</span></h2>
        <p class="lead">I have made some C/S applications both with team work and individual with .Net. You can visit my <a target="_blank" href="https://github.com/MaxBay2020"><code>Github</code></a>
            <br>Apps include
            Student Management System using DataGridView and MySQL; Music Player; Calculator; BMI Calculator using DataGridView; multi-player Plane Shooting Game using Socket
            etc..
            <br>For more information, please check my <a href="/public/resumes/csApp.pdf" target="_blank"><code>resume</code></a> here for C/S Development.
        </p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img src="/public/images/c%23.png" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
</div>


