<!-- File Name: content.ejs -->
<!-- Created by: Cong Wang -->
<!-- Student Number: #301098547 -->
<!-- Created on: 10.2.2020 -->

<!--Common content - banner-->
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="/public/images/banner1.png" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Who am I?</h1>
                    <p><code>Welcome</code> to my personal website <code>< C.W./></code> !</p>
                    <p><a class="btn btn-lg btn-primary" href="/aboutme" role="button" target="_blank">About Me</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide" src="/public/images/banner2.png" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>What have I done?</h1>
                    <p>
                        <% data.things.forEach(result=>{%>
                            <code><%= result %></code>&nbsp;&nbsp;
                        <% }); %>
                        etc.
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="/projectsUnity" role="button" target="_blank">My projects</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="/public/images/banner3.png" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>What do I offer?</h1>
                    <p>
                        <% data.offers.forEach(result=>{ %>
                            <code><%= result %></code>
                        <% }); %>
                        etc.
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="/services" role="button" target="_blank">My services</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->

