<!-- File Name: Home_Page.ejs -->
<!-- Created by: Cong Wang -->
<!-- Student Number: #301098547 -->
<!-- Created on: 10.2.2020 -->

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/public/images/icon.png">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="/public/stylesheets/carousel.css" rel="stylesheet">
    <link href="/public/stylesheets/theme.css" rel="stylesheet">
</head>

<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" id="logo">
                        <img src="/public/images/logo.png" alt="personal logo">
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home Page</a></li>
                        <li><a href="/aboutme" target="_blank">About Me</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/projectsUnity" target="_blank">Unity3D Games</a></li>
                                <li><a href="/projectsWeb" target="_blank">B/S Applications</a></li>
                                <li><a href="/projectsNet" target="_blank">C/S Applications</a></li>
                                <!--                                <li role="separator" class="divider"></li>-->
                                <!--                                <li class="dropdown-header">Nav header</li>-->
                                <!--                                <li><a href="#">Separated link</a></li>-->
                                <!--                                <li><a href="#">One more separated link</a></li>-->
                            </ul>
                        </li>
                        <li><a href="/services" target="_blank">Services</a></li>
                        <li><a href="/contactme" target="_blank">Contact Me</a></li>
                        <li><a href="https://github.com/MaxBay2020" target="_blank">My Github</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

<!-- Carousel
================================================== -->
<!-- Main jumbotron for a primary marketing message or call to action -->
<br>
<div class="container theme-showcase" role="main">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">


        <hr class="featurette-divider">

        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; Copyright by Cong Wang 2020. All Rights Reserved.</p>
        </footer>
    </div>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    window.jQuery || document.write('<script src="/node_modules/jquery/dist/jquery.min.js"><\/script>')
</script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/public/javascripts/holder.min.js"></script>
<!--&lt;!&ndash; IE10 viewport hack for Surface/desktop Windows 8 bug &ndash;&gt;-->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
</body>
</html>
