<!-- File Name: projectsUnity.ejs -->
<!-- Created by: Cong Wang -->
<!-- Student Number: #301098547 -->
<!-- Created on: 10.2.2020 -->

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">JellyBoom <br> <span class="text-muted">Individual</span></h2>
        <p class="lead">•   A completed original individual work.</p>
        <p class="lead">•   Responsible for designing, coding, optimizing game by profiler and released by WebGL.</p>
        <p class="lead">•    Deployed on Simmer.io.</p>
        <a href="https://simmer.io/@TheLastOfUnity/jellyboom" target="_blank"><p class="lead"><code>Click me to play</code></p></a>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img src="/public/images/gif/jellyBoom.gif" class="featurette-image img-responsive center-block" alt="battle city">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Runaway Boy<span class="text-muted"><br> Original Team Work</span></h2>
        <p class="lead">•   Designed an original Escape-style (from prison) game application using Unity3D and assessed and tested performance for UGUI, particle system, audio, and animation ensuring optimal quality.</p>
        <p class="lead">•   Responsible for coding, UGUI, animation and audio to make sure it runs properly.</p>
        <p class="lead">•   Maintain communication with teammates using GitHub.</p>
        <p class="lead">•   Has start scene, main scene with puzzle solving system, dialog system.</p>
    </div>
    <div class="col-md-5">`
        <img src="/public/images/gif/runaway.gif" class="featurette-image img-responsive center-block" alt="runaway boy">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Battle City <br> <span class="text-muted">Individual</span></h2>
        <p class="lead">•   Copied a gaming application using Unity3D and assessed and tested performance for UGUI, particle system, audio, and animation ensuring optimal quality.</p>
        <p class="lead">•   Has start scene, main scene with randomly generating map and score system.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img src="/public/images/gif/tank.gif" class="featurette-image img-responsive center-block" alt="battle city">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Angry Bird <br><span class="text-muted">Individual</span></h2>
        <p class="lead">•   Copied a gaming application using Unity3D and assessed and tested performance for UGUI, particle system, audio, and animation ensuring optimal quality.</p>
        <p class="lead">•   Has start scene, main scene with 4 types of birds with different abilities, level selection, score system, and saving records function.</p>

    </div>
    <div class="col-md-5">
        <img src="/public/images/gif/angryBird.gif" class="featurette-image img-responsive center-block" alt="angry bird">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
<div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Snake <br><span class="text-muted">Individual</span></h2>
    <p class="lead">•   A regular Snake game made in Unity3D with audio, particle system and UGUI.</p>
    <p class="lead">•   Copied a gaming application using Unity3D and assessed and tested performance for UGUI, particle system, audio, and animation ensuring optimal quality.</p>
    <p class="lead">•   Has start scene, main scene with 2 modes, score system and saving records function.</p>
</div>
<div class="col-md-5 col-md-pull-7">
    <img src="/public/images/gif/snake.gif" class="featurette-image img-responsive center-block" alt="snake">
</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
<div class="col-md-7">
    <h2 class="featurette-heading">Fishing Joy <br><span class="text-muted">Individual</span></h2>
    <p class="lead">•   Copied a gaming application using Unity3D and assessed and tested performance for UGUI, particle system, audio, and animation ensuring optimal quality.</p>
    <p class="lead">•   Optimized game features with start scene, main scene with gun switch, countdown, gold collection, background switch and score system, save records of players.</p>
</div>
<div class="col-md-5">
    <img src="/public/images/gif/fishing.gif" class="featurette-image img-responsive center-block" alt="fishing joy">
</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
<div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Space Invader <br><span class="text-muted">Individual</span></h2>
    <p class="lead">•   Responsible for coding and testing.</p>
    <p class="lead">•   Result: game runs properly.</p>
    <p class="lead">•   Includes: UGUI, audio, animation.</p>
</div>
<div class="col-md-5 col-md-pull-7">
    <img src="/public/images/gif/spaceInvader.gif" class="featurette-image img-responsive center-block" alt="space invader">
</div>
</div>

<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->

<h1 align="center" style="color: #777777">What am I working on these days?</h1>
<br>
<br>
<!-- Three columns of text below the carousel -->
<div class="row">
<div class="col-lg-4">
    <img class="img-circle" src="/public/images/projects_workingon3.jpg" alt="about me" width="140" height="140">
    <br><br>
    <p>Working on <code>my own game</code>.</p>
</div><!-- /.col-lg-4 -->

<div class="col-lg-4">
    <img class="img-circle" src="/public/images/projects_workingon4.png" alt="my projects" width="140" height="140">
    <br><br>
    <p>Working on a <code>team project</code>.</p>
</div><!-- /.col-lg-4 -->

<div class="col-lg-4">
    <img class="img-circle" src="/public/images/projects_workingon5.png" alt="Generic placeholder image" width="140" height="140">
    <br><br>
    <p>Working on <code>Unity Shaders</code>.</p>
</div><!-- /.col-lg-4 -->
</div><!-- /.row -->
