<!-- File Name: projectsWeb.ejs -->
<!-- Created by: Cong Wang -->
<!-- Student Number: #301098547 -->
<!-- Created on: 10.2.2020 -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h3 class="featurette-heading">Electives Regisration System<span class="text-muted"><br>Individual with Express.js</span></h2>
            <p class="lead">An MVC full-stack B/S application with Express.js, EJS, Bootstrap, jQuery, jqGrid, interacting with MongoDB Atlas.</p>
            <p class="lead">Developed back-end management page and functions for teachers use.</p>
            <p class="lead">Developed login, logout functions both for students and teachers use, and students and courses management functions (CRUD) for teachers use. Excel and JSON import and export functions.</p>
        </div>
        <div class="col-md-5">
            <img src="/public/images/projects_SRS.png" class="featurette-image img-responsive center-block" alt="user management system">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Travel Website<span class="text-muted"><br>Individual with JavaEE</span></h2>
            <p class="lead">What was my role: Responsible for designing the model, database, coding and testing.</p>
            <p class="lead">How was the result: app runs properly with register, email verification, login&logout, Pagination, favorites functions.</p>
            <p class="lead">Technologies: Maven, JDBC Template, Druid, MySQL, Redis, AJAX, Cookie&Session, XML&JSON, etc..</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img src="/public/images/project_travel.png" class="featurette-image img-responsive center-block" alt="travel website">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">User Management System<span class="text-muted"><br>Individual with JavaEE</span></h2>
            <p class="lead">What was my role: Responsible for designing the model, database, coding and testing.</p>
            <p class="lead">How was the result: app runs properly with register, login&logout, Pagination, CRUD functions.</p>
            <p class="lead">Technologies: JDBC Template, Druid, MySQL, JSP, EL&JSTL, Cookie&Session, XML&JSON, etc..</p>
        </div>
        <div class="col-md-5">
            <img src="/public/images/project_ums.png" class="featurette-image img-responsive center-block" alt="user management system">
        </div>
    </div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Forum Website<span class="text-muted"><br>Individual with NodeJS</span></h2>
        <p class="lead">What was my role: Responsible for designing the model, database, coding and testing.</p>
        <p class="lead">How was the result: app runs properly with register, login functions.</p>
        <p class="lead">Technologies: Node.js, Express.js, art-template, MongoDB, Mongoose etc..</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img src="/public/images/projects_forum.png" class="featurette-image img-responsive center-block" alt="snake">
    </div>
</div>

<hr class="featurette-divider">

<h1 align="center" style="color: #777777">What am I working on these days?</h1>
<br>
<br>
<!-- Three columns of text below the carousel -->
<div class="row">
    <div class="col-lg-4">
        <img class="img-circle" src="/public/images/projects_workingon1.jpg" alt="about me" width="140" height="140">
        <br><br>
        <p>Working on <code>AngularJS.</code> <code>Vue.js</code> and <code>React</code></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <img class="img-circle" src="/public/images/projects_workingon2.png" alt="my projects" width="140" height="140">
        <br><br>
        <p>Working on <code>Spring Framework</code></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <img class="img-circle" src="/public/images/coding.jpg" alt="Generic placeholder image" width="140" height="140">
        <br><br>
        <p>Working on <code>my own webpage</code></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


