<!-- File Name: projectsUnity.ejs -->
<!-- Created by: Cong Wang -->
<!-- Student Number: #301098547 -->
<!-- Created on: 10.2.2020 -->

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">JellyBoom <br> <span class="text-muted">Individual</span></h2>
        <p class="lead">What was my role: Responsible for designing, coding, optimizing game by profiler and deploying by WebGL</p>
        <p class="lead">How was the result: game runs properly.</p>
        <a href="https://simmer.io/@TheLastOfUnity/jellyboom" target="_blank"><p class="lead"><code>Play</code></p></a>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img src="/public/images/gif/jellyBoom.gif" class="featurette-image img-responsive center-block" alt="battle city">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Runaway Boy<span class="text-muted"><br> Original Team Work</span></h2>
        <p class="lead">What was my role: Responsible for coding, UGUI, audio, start menu testing, making sure the game runs properly.</p>
        <p class="lead">How was the result: game runs properly, got great comments.</p>
        <p class="lead">It has: UGUI, audio, animation.</p>
    </div>
    <div class="col-md-5">`
        <img src="/public/images/gif/runaway.gif" class="featurette-image img-responsive center-block" alt="runaway boy">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Battle City <br> <span class="text-muted">Individual</span></h2>
        <p class="lead">What was my role: Responsible for coding and testing.</p>
        <p class="lead">How was the result: game runs properly.</p>
        <p class="lead">It has: UGUI, audio, animation.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img src="/public/images/gif/tank.gif" class="featurette-image img-responsive center-block" alt="battle city">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Angry Bird <br><span class="text-muted">Individual</span></h2>
        <p class="lead">What was my role: Responsible for coding and testing.</p>
        <p class="lead">How was the result: game runs properly, has almost every function of Angry Bird.</p>
        <p class="lead">It has: UGUI, audio, animation, particle system, history record.</p>
    </div>
    <div class="col-md-5">
        <img src="/public/images/gif/angryBird.gif" class="featurette-image img-responsive center-block" alt="angry bird">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
<div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Snake <br><span class="text-muted">Individual</span></h2>
    <p class="lead">What was my role: Responsible for coding and testing.</p>
    <p class="lead">How was the result: game runs properly.</p>
    <p class="lead">It has: UGUI, audio, animation, particle system, history record.</p>
</div>
<div class="col-md-5 col-md-pull-7">
    <img src="/public/images/gif/snake.gif" class="featurette-image img-responsive center-block" alt="snake">
</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
<div class="col-md-7">
    <h2 class="featurette-heading">Fishing Joy <br><span class="text-muted">Individual</span></h2>
    <p class="lead">What was my role: Responsible for coding and testing.</p>
    <p class="lead">How was the result: game runs properly, has almost every function of Fishing Joy.</p>
    <p class="lead">It has: UGUI, audio, animation, particle system, history record.</p>
</div>
<div class="col-md-5">
    <img src="/public/images/gif/fishing.gif" class="featurette-image img-responsive center-block" alt="fishing joy">
</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
<div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Space Invader <br><span class="text-muted">Individual</span></h2>
    <p class="lead">What was my role: Responsible for coding and testing.</p>
    <p class="lead">How was the result: game runs properly.</p>
    <p class="lead">It has: UGUI, audio, animation.</p>
</div>
<div class="col-md-5 col-md-pull-7">
    <img src="/public/images/gif/spaceInvader.gif" class="featurette-image img-responsive center-block" alt="space invader">
</div>
</div>

<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->

<h1 align="center" style="color: #777777">What am I working on these days?</h1>
<br>
<br>
<!-- Three columns of text below the carousel -->
<div class="row">
<div class="col-lg-4">
    <img class="img-circle" src="/public/images/projects_workingon3.jpg" alt="about me" width="140" height="140">
    <br><br>
    <p>Working on <code>my own game</code>.</p>
</div><!-- /.col-lg-4 -->

<div class="col-lg-4">
    <img class="img-circle" src="/public/images/projects_workingon4.png" alt="my projects" width="140" height="140">
    <br><br>
    <p>Working on a <code>team project</code>.</p>
</div><!-- /.col-lg-4 -->

<div class="col-lg-4">
    <img class="img-circle" src="/public/images/projects_workingon5.png" alt="Generic placeholder image" width="140" height="140">
    <br><br>
    <p>Working on <code>Unity Shaders</code>.</p>
</div><!-- /.col-lg-4 -->
</div><!-- /.row -->
