<!-- File Name: projectsNet.ejs -->
<!-- Created by: Cong Wang -->
<!-- Student Number: #301098547 -->
<!-- Created on: 10.2.2020 -->

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/public/images/icon.png">

    <title><%= data.title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="/public/stylesheets/carousel.css" rel="stylesheet">
    <link href="/public/stylesheets/theme.css" rel="stylesheet">
</head>

<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
    <div class="container">

<!--Common header-->
        <%- include('header'); %>
    </div>
</div>

<!-- Carousel
================================================== -->
<!-- Main jumbotron for a primary marketing message or call to action -->
<br>
<div class="container theme-showcase" role="main">
    <!--    <h1 align="center" style="color: #777777">Currently, I am doing...</h1>-->
    <h1 align="center" style="color: #777777">My Projects include...</h1>
    <br>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>C/S Applications</h1>
        <p>Team-work and individual-work</p>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        <!--     START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">School Management System<span class="text-muted"><br>Individual with .Net</span></h2>
                <p class="lead">What was my role: I am responsible for everything.</p>
                <p class="lead">How was the result: app runs properly with login&logout, CRUD functions.</p>
                <p class="lead">Technologies: DataGridView, MySQL etc..</p>
            </div>
            <div class="col-md-5">
                <img src="/public/images/gif/sms.gif" class="featurette-image img-responsive center-block" alt="user management system">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">Plane Shooting Game<span class="text-muted"><br>Individual with .Net</span></h2>
                <p class="lead">What was my role: I am responsible for everything.</p>
                <p class="lead">How was the result: app runs properly with score ranking functions.</p>
                <p class="lead">Technologies: Socket etc..</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img src="/public/images/gif/ps.gif" class="featurette-image img-responsive center-block" alt="travel website">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Music Player<span class="text-muted"><br>Individual with .Net</span></h2>
                <p class="lead">What was my role: I am responsible for everything.</p>
                <p class="lead">How was the result: app runs properly with lyrics display functions.</p>
            </div>
            <div class="col-md-5">
                <img src="/public/images/gif/mp.gif" class="featurette-image img-responsive center-block" alt="angry bird">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">BMI Calculator<span class="text-muted"><br>Individual with .Net</span></h2>
                <p class="lead">What was my role: I am responsible for everything.</p>
                <p class="lead">How was the result: app runs properly with CRUD functions.</p>
                <p class="lead">Technologies: DataGridView etc..</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img src="/public/images/gif/bmi.gif" class="featurette-image img-responsive center-block" alt="snake">
            </div>
        </div>

<!--Common footer-->
        <%- include('footer'); %>
    </div>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="/node_modules/jquery/dist/jquery.min.js"><\/script>')
</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/public/javascripts/holder.min.js"></script>
<!--&lt;!&ndash; IE10 viewport hack for Surface/desktop Windows 8 bug &ndash;&gt;-->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
</body>
</html>
