<!-- File Name: services.ejs -->
<!-- Created by: Cong Wang -->
<!-- Student Number: #301098547 -->
<!-- Created on: 10.2.2020 -->

<div class="row">
    <div class="col-lg-4">
        <img class="img-circle" src="/public/images/service_unity.png" alt="about me" width="140" height="140">
        <h2>Unity3D</h2>
        <p>I am looking for a position for Unity3D Programmer/Developer.</p>
        <p><a class="btn btn-default" href="/contactme" role="button" target="_blank">Contact me &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <img class="img-circle" src="/public/images/service_web.jpg" alt="my projects" width="140" height="140">
        <h2>B/S App Development</h2>
        <p>I am looking for a position for Front-end Programmer or Back-end Programmer.</p>
        <p><a class="btn btn-default" href="/contactme" role="button" target="_blank">Contact me &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <img class="img-circle" src="/public/images/coding.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>C/S App Development</h2>
        <p>I am looking for a position for C# Programmer or Java Programmer.</p>
        <p><a class="btn btn-default" href="/contactme" role="button" target="_blank">Contact me &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


